.dish-menu{
    margin-top: 107px;
    .item-dish{
        .text{
            max-width: 596px;
        }
    }
}

.dish-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-top: 60px;
    border-bottom: 1px solid #B5986D;

    .title-dish{
        font-size: 32px;
    }
    
    .cost-dish{
        font-size: 24px;
        color: #B5986D;
    }
}

